.new-employee{
    display: inline-block;
    margin-top: auto;
    width: 155px;
}

.new-employee a{
    color: white;
    text-decoration: none;
    float: right;
}

table{
    padding: 0 5px;
    width: 100%;
    min-height: 50px;
    padding-top: 10px;
}

th{
    height: 30px;
    background-color: #2F4858;
    color: #fff;
    border-bottom: 4px solid #9e9fa373;
}

td{
    height: 50px;
    background-color: #3D81BA;
    color: #fff;
}

.number-th{
    padding-left: 5px;
    min-width: 20px;  
    border-radius: 10px 0px 0px 0px;
}

.fullname-th{
    min-width: 100px;  
    text-align: left;
    padding-left: 15px;
}

.email-th{
    min-width: 150px;
    text-align: left;
    padding-left: 15px;
}

.phone-th{
    min-width: 100px;  
    text-align: left;
    padding-left: 15px;
}

.date-th{
    min-width: 100px;  
    text-align: left;
    padding-left: 15px;
}

.montly-th{
    min-width: 100px;  
    text-align: left;
    padding-left: 15px;
}

.buttons-th{
    min-width: 150px;  
    text-align: center;
    border-radius: 0px 10px 0px 0px;
}

.number{
    min-width: 20px;  
    text-align: center;
}

.fullname{
    min-width: 100px;  
    text-align: left;
    padding-left: 15px;
}

.email{
    min-width: 150px;
    text-align: left;
    padding-left: 15px;

}

.phone{
    min-width: 100px;  
    padding-left: 15px;
}


.date{
    min-width: 100px;  
    text-align: left;
    padding-left: 15px;
}

.montly{
    min-width: 100px;  
    text-align: left;
    padding-left: 15px;
}

.buttons{
    min-width: 150px;  
    text-align: center;
}
@media screen and (max-width: 666.98px) {
    form {
        width: 100%;
        margin:unset;
        display: flex;
        flex-direction: column;
    }
    .section2 {
        margin: 0 10px;
    }
    input {
        width: unset;
    }
    .employe {
        margin-bottom: 10px;
    }
    .section2 {
        margin: 0 5px;
    }
}