.new-employee{
    display: inline-block;
    margin-top: auto;
    width: 155px;
}

.new-employee a{
    color: white;
    text-decoration: none;
    float: right;
}

input { 
    width: 100%; 
    margin-bottom: 10px;
    background: #9e9fa373;
    padding: 10px;
    font-size: 13px;
    color: white;
    text-shadow: 1px 1px 1px rgba(10, 10, 10, 0.3);
}

input::placeholder {
    color: white;
}

form:first-child{
    padding-top: 50px;
}