.new-employee{
    display: inline-block;
    margin-top: auto;
}

.new-employee a{
    color: white;
    text-decoration: none;
}

table{
    padding: 0 5px;
    width: 100%;
    min-height: 50px;
    padding-top: 10px;
}

th{
    height: 30px;
    background-color: #2F4858;
    color: #fff;
    border-bottom: 4px solid #9e9fa373;

}

td{
    height: 50px;
    background-color: #3D81BA;
    color: #fff;
}

.title-th{
    min-width: 100px;  
   
    text-align: left;
    padding-left: 15px;
}

.desc-th{
    min-width: 150px;

    text-align: left;
    padding-left: 15px;

}

.date-th{
    min-width: 100px;  
    text-align: left;
    padding-left: 15px;
}

.status-th{
    min-width: 100px;  
    text-align: left;
    padding-left: 15px;
}

.employe-th{
    min-width: 150px;  
    text-align: center;
    border-radius: 0px 10px 0px 0px;
}

.title{
    min-width: 100px;  
    text-align: left;
    padding-left: 15px;
}

.desc{
    min-width: 150px;
    text-align: left;
    padding-left: 15px;

}

.date{
    min-width: 100px;  
    text-align: left;
    padding-left: 15px;
}

.status{
    min-width: 100px;  
    text-align: left;
    padding-left: 15px;
}

.employe{
    min-width: 100px;  
    text-align: left;
    padding-left: 15px;
}

