.new-employee{
    display: inline-block;
    margin-top: auto;
}

.new-employee a{
    color: white;
    text-decoration: none;
}

table{
    padding: 0 5px;
    width: 100%;
    min-height: 50px;
    padding-top: 10px;
}

th{
    height: 30px;
    background-color: #2F4858;
    color: #fff;
    border-bottom: 4px solid #9e9fa373;

}

td{
    height: 50px;
    background-color: #3D81BA;
    color: #fff;
}

.title-th{
    min-width: 100px;  
   
    text-align: center;
    padding-left: 15px;
}

.desc-th{
    min-width: 150px;

    text-align: center;
    padding-left: 15px;

}

.fullname{
    min-width: 100px;  
    text-align: center;
    padding-left: 15px;
}

.broj{
    min-width: 150px;
    text-align: center;
    padding-left: 15px;

}
.new-employee {
    width: 155px;
}
.new-employee > a {
    float: right;
    padding-right: 5px;
}
@media screen and (max-width: 666.98px) {
    form {
        width: 100%;
        margin:unset;
        display: flex;
        flex-direction: column;
    }
    .section2 {
        margin: 0 10px;
    }
    input {
        width: unset;
    }
    .employe {
        margin-bottom: 10px;
    }
    .section2 {
        margin: 0 5px;
    }
}